* {
    box-sizing: border-box;
}

p {
    margin: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    background: cyan;
}

.wrapper {
    width: 1440px;
    max-width: 90%;
    margin: 0 auto;
}

.container {
    width: 500px;
    padding: 78px 32px;
    background: white;
    border-radius: 5px;
    margin: 150px auto;
}

.quote-info {
    position: relative;
    top: -36px;
}

.quote {
    font-size: 1em;
    text-align: center;
    transition: all 2s ease-in;
}

.author {
    text-align: right;
    font-size: 1.2em;
    margin-top: 10px;
}

.btns {
    
}

.new-quote {
    padding: 10px 20px;
    border-radius: 5px;
    background: cyan;
    float: right;
    cursor: pointer;
}

.fa-twitter-square {
    float: left;
    color: cyan;
}
